aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.25.2
motor
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
kurigram==2.1.35
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
