API_ID= API_ID= 25571785
API_HASH= e0b3667b49984bb7f7f1036309a77ba5
BOT_TOKEN= 7530505728:AAEqs80SrJjr4YCKhL22PDZPBTi5NzU1XKs
LOGGER_ID= 7548799584
MONGO_DB_URI= mongodb+srv://manasmishra6000:manas@#123@cluster0.ocpf5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 6018803920
STRING_SESSION= BQGGMckAGBGwef6um1nQN3DKXtp1PtimV9dr6BIc6sEL0AbO5UQCy2zUS6sWEtWL5cO5K792eVaU83OiRf3RURTAp8wHqXEaCjvPj-iwsfYOomI0CLNfBxfV28OsRdwKuzME8ZsHxTcnhVpiYVnzXU8_b-W9w0yrVT_X4nDkgL4K6H_QC6_wQ-gkGmr9sQSpAKGgC0CnAi7LP5Pn13cruamX7GOj5XiiRY3rmhTkl6NtJpu4Y6BhE5z5da2f0ARGfCs86FbqxC93RXNhuu2RzY-zYJ8ePp-MakRqRlrpQcKe-B6TAp30h6oul-ZE37ANOf1Nfr6-uM8vwBxv47UO-3Bz1KiiqgAAAAHB8YpgAA
